.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{
   
}

body{
 
 background-image: url("photos/stones.png");
  background-repeat: repeat;
}

a:link {
color: #000;
}
a:visited {
color: #000;
}
a:hover {
color: #000;
}

.darkBack{
    background-color: #909090;
    color: #000;
}
.blackBack{
    background-color: #000;
    padding:0px;
    margin:0px;
}
.woodBack{
  background-image: url("photos/wood.png");
  background-repeat: repeat;
  padding:20px;
}
.columnSep{
  padding:10px;
  margin:10px;
  border:4px #282828 solid;
}

.Custom-box{
  border:4px #282828 solid;
  color: #000;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 1px 4px 8px 1px black, 0 6px 20px 6px rgba(0, 0, 0, 0.4);
}
.Custom-box2{
  color: #000;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:20px;
}
.Custom-box3{
  background-color: #C0C0C0;
  color: #000;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:20px;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
}